.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.project-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-header {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  width: 100%;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 403px;
  padding-left: 2rem;
}

.technologies {
  display: flex;
  gap: 2rem;
  color: black !important;
  font-weight: 600 !important;
  font-family: "Mulish", sans-serif !important;
}

.technology-icon {
  border-radius: 5px;
}

.project-links {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.project-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-size: medium;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.project-links a:hover {
  background-color: #f0f0f0;
  color: #f97316;
}

@media only screen and (max-width: 768px) {
  .project-card {
    flex-direction: column-reverse;
    width: 400px;
    margin-top: 2rem;
  }
}

  @media only screen and (max-width: 500px) {
    .project-card {
      flex-direction: column-reverse;
      width: 300px;
      margin-top: 2rem auto;
    }
    .project-details {
      text-align: left; /* Align text to the left for better readability */
    }
  
    .project-details h3,
    .project-details p {
      margin-bottom: 0.5rem; /* Reduce margin between text elements */
    }
    
  }

  .project-image {
    order: 2;
  }

  .project-details {
    order: 1;
    padding: 20px 20px 0 20px;
  }

  .project-image img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }

  .project-link {
    margin-top: 2rem;
  }
  .project-links a {
    margin-bottom: 10px;
  }
}
